In [1]:
from usda_requests import *
import pandas as pd

In [2]:
data = pd.read_csv('data/Dieta Food Mapping Pilot - Sheet3.csv')

In [3]:
data

,food_name,dairy,gluten,fodmap,keto,meat,fruit,vegetable,grains,fish_seafood,legume,sugar_syrup,acohols,fried_high_fat,raw
0,ginger lemon tea,0,0.0,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,iced latte,1,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,muffin,1,1.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,pho,0,0.0,1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,coffee,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,fruit pectin,0,0.0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
659,tartaric acid,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
660,water,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
661,mustard seed,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
662,white wine,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [4]:
# filter out "depends" values

filtered_data = data
for col in data.columns:
    filtered_data = filtered_data[filtered_data[col] != 'depends']

In [5]:
filtered_data

,food_name,dairy,gluten,fodmap,keto,meat,fruit,vegetable,grains,fish_seafood,legume,sugar_syrup,acohols,fried_high_fat,raw
0,ginger lemon tea,0,0.0,0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,iced latte,1,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,muffin,1,1.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,pho,0,0.0,1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,coffee,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,fruit pectin,0,0.0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
659,tartaric acid,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
660,water,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
661,mustard seed,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
662,white wine,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [6]:
from sklearn import tree

In [7]:
from sklearn.model_selection import train_test_split

In [10]:
train_set, test_set = train_test_split(filtered_data)

In [11]:
train_set

,food_name,dairy,gluten,fodmap,keto,meat,fruit,vegetable,grains,fish_seafood,legume,sugar_syrup,acohols,fried_high_fat,raw
292,tuna,0,0.0,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
556,strawberry preserves,0,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
419,green beans,0,0.0,0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
447,sourdough bread,0,1.0,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
36,sandwich,1,1.0,1,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,potato,0,0.0,0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
516,chickpea pasta,0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
128,kc masterpiece original barbecue sauce,0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190,sea salt,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257,crab,0,0.0,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [12]:
test_set

,food_name,dairy,gluten,fodmap,keto,meat,fruit,vegetable,grains,fish_seafood,legume,sugar_syrup,acohols,fried_high_fat,raw
348,iced tea,0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
647,apple cider,0,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
137,tomato sauce,0,0.0,0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
214,ricotta cheese,1,0.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
213,lox,0,0.0,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,french fries,0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
436,salsa,0,0.0,1,NaN,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
118,rice,0,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
546,"luna turkey panini with roasted red pepper, ch...",1,1.0,1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
329,red pepper,0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [13]:
data[data['food_name'] == 'green beans']

,food_name,dairy,gluten,fodmap,keto,meat,fruit,vegetable,grains,fish_seafood,legume,sugar_syrup,acohols,fried_high_fat,raw
140,green beans,0,0.0,0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
419,green beans,0,0.0,0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# todo: train a SVM